<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" android:versionName="1" package="lhc.app.WakeOnLan" android:versionCode="6">
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<application android:label="Wake On Lan" android:icon="@drawable/icon"></application>
</manifest>